#nav-bar {
  height:10vh;
  background-color:rgba(0,0,0,0.32);
}

.navitem {
  margin-right:5px;
  margin-left:5px;
}

.navlink {
  margin-right:5px;
  margin-left:5px;
  background-color:rgba(255,255,255,0.32);
  padding:5px;
  color:rgba(255,255,255,0.92);
}

#main-content {
  height:90vh;
  margin:5vh;
  margin-right:10vh;
  margin-left:10vh;
  background-color:rgba(0,0,0,0.32);
}

:root {
  --blue:#007bff;
  --indigo:#6610f2;
  --purple:#6f42c1;
  --pink:#e83e8c;
  --red:#dc3545;
  --orange:#fd7e14;
  --yellow:#ffc107;
  --green:#28a745;
  --teal:#20c997;
  --cyan:#17a2b8;
  --white:#fff;
  --gray:#6c757d;
  --gray-dark:#343a40;
  --primary:#007bff;
  --secondary:#6c757d;
  --success:#28a745;
  --info:#17a2b8;
  --warning:#ffc107;
  --danger:#dc3545;
  --light:#f8f9fa;
  --dark:#343a40;
  --breakpoint-xs:0;
  --breakpoint-sm:576px;
  --breakpoint-md:768px;
  --breakpoint-lg:992px;
  --breakpoint-xl:1200px;
  --font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html {
  font-family:sans-serif;
  line-height:1.15;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -ms-overflow-style:scrollbar;
  -webkit-tap-highlight-color:transparent;
}

body {
  margin:0;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#212529;
  text-align:left;
  background-color:#fff;
}

.d-flex {
  display:-ms-flexbox!important;
  display:flex!important;
}

.justify-content-between {
  -ms-flex-pack:justify!important;
  justify-content:space-between!important;
}

.align-items-center {
  -ms-flex-align:center!important;
  align-items:center!important;
}

.flex-column {
  -ms-flex-direction:column!important;
  flex-direction:column!important;
}

.flex-column {
  -ms-flex-direction:column!important;
  flex-direction:column!important;
}

